.vp-doc h1 {
    letter-spacing: -0.02em;
    line-height: 0px;
    font-size: 32px;
  }

.vp-doc h2 {
    margin: 32px 0 16px;
    border-top: 1px solid var(--vp-c-divider);
    padding-top: 24px;
    letter-spacing: -0.02em;
    line-height: 32px;
    font-size: 24px;
  }

:root {
    --vp-layout-max-width: 1920px;
}

.VPDoc:not(.has-sidebar) .container {
    max-width: 1584px !important;
}

.VPDoc:not(.has-sidebar) .content {
    max-width: 1264px !important;
}

.VPDoc.has-aside .content-container {
    max-width: 1168px !important;
}
